name: Go

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Setup Go
      uses: actions/setup-go@v6

    - name: Ensure dependencies are downloaded
      run: go mod download

    - name: Build
      run: go build -v ./...

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Setup Go
      uses: actions/setup-go@v6

    - name: Ensure dependencies are downloaded
      run: go mod download

    - name: Test
      run: go test ./...


  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: build
    steps:

    - name: Check out code
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Setup Go
      uses: actions/setup-go@v6

    - name: Ensure dependencies are downloaded
      run: go mod download

    - name: Run Linter
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 #v9.2.0
      with:
        version: v2.6.1
